<md-list-item>
  <div flex>

    <p ng-if="fieldModel.desc"
       class="color-light-2 padding-vertical ng-binding ng-scope push-top">{{fieldModel.desc}}
    </p>

    <md-input-container>
      <label>{{fieldModel.label}}</label>
      <input
        type="text"
        ng-if="!formField.templateOptions.fieldModel.multiLine"
        name="{{formField.keyName}}"
        ng-model="formField.keyValue"
        ng-model-options="{debounce:{'default':1000}}"
        ng-disabled="fieldCtrl.isDisabled()"
        ng-change="fieldCtrl.getFormFieldError()">

      <textarea
        type="text"
        ng-if="formField.templateOptions.fieldModel.multiLine"
        name="{{formField.keyName}}"
        ng-model="formField.keyValue"
        ng-model-options="{debounce:{'default':1000}}"
        ng-disabled="fieldCtrl.isDisabled()"
        ng-change="fieldCtrl.getFormFieldError()"></textarea>

      <div ng-messages="fieldCtrl.$formError" class="ng-messages-floating line-clamp-2">
        <div ng-message="0" class="ng-message">{{fieldCtrl.$formError[0]}}</div>
      </div>
    </md-input-container>
  </div>
</md-list-item>