<!--  <h1>Session expired <a href="javascript:void(0);" ng-click="redirectOnSessionExpire();"> click here</a> to Login again</h1>  -->


<!--  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
	<style>
		.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  color:#285fbc;
  font-size: 20px;
  border: 1px solid #cccaca;
  border-radius: 4px;
padding: 15px 30px 0px 30px;
}
	.centered a{
		  color:#285fbc;
		  text-decoration:none;
		  line-height: 3;
	} 
	
	</style>
	
	
	<div class="centered">
	  <i class="fa fa-exclamation-triangle" aria-hidden="true"> &nbsp; Session Expired</i>
	  <a href="javascript:void(0);" ng-click="redirectOnSessionExpire();"><div class="md-title">Click here to login</div></a>
	</div>
	