<md-dialog aria-label="Terms and Conditions"
  layout="column">

  <md-toolbar>
<div layout="row" class="md-toolbar-tools">
	<h2 class="md-title">Terms and Conditions</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
		md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon> </md-button>
</div>
</md-toolbar>

    <md-dialog-content class="full-width " >

    <div style="font-weight: 400;" class="list no-padding timeline-title" flex>
      	By using the Workpad (“Service”), you are agreeing to be bound by the following terms and conditions (“Terms of Service”).
Workpad Pte Ltd (“Company”) reserves the right to update and change these Terms of Service without notice.
Violation of any of the terms below may result in the termination of your account.<br/><br/>
<p><b>Account Terms</b></p>
<md-divider style="padding-bottom: 10px;"></md-divider>
1. You are responsible for maintaining the security of your account and password. The Company cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.<br/>
2. You are responsible for all content posted and activity that occurs under your account (even when content is posted by others who have their own logins under your account).<br/>
3. You may not use the Service for any illegal purpose or to violate any laws in your jurisdiction (including but not limited to copyright laws).<br/>
4. You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.<br/>
5. Your login may only be used by one person – a single login shared by multiple people is not permitted. You may create separate logins for as many people as you’d like.<br/>
6. You must be a human. Accounts registered by “bots” or other automated methods are not permitted.<br/><br/>
<!-- <p><b>Payment, Refunds, Upgrading and Downgrading Terms</b></p>
<md-divider style="padding-bottom: 10px;"></md-divider>
1. The Service is offered with a free trial for one WorkSpace. If you need more than one WorkSpace, you will only be able to continue using the Service by paying in advance for additional usage. If you fail to pay for additional usage, your account will be frozen and inaccessible until payment is made.<br/>
2. For any upgrade or downgrade in subscriptions, will result in the new rate being charged at the next billing cycle. There will be no prorating for downgrades in between billing cycles.<br/>
3. Downgrading your Service may cause the loss of features or capacity of your account. The Company does not accept any liability for such loss.<br/>
4. All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties. Where required, The Company will collect those taxes on behalf of taxing authority and remit those taxes to taxing authorities.<br/>
5. Refunds are processed according to our fair refund policy.<br/><br/> -->
<p><b>Cancellation and Termination</b></p>
<md-divider style="padding-bottom: 10px;"></md-divider>
1. You are solely responsible for properly canceling your account or WorkSpace. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the Account link in the global navigation bar at the top of the screen. The Account screen provides a simple no-questions-asked cancellation link.<br/>
2. All of your content will be inaccessible from the Service immediately upon cancellation. Within 30 days, all this content will be permanently deleted from all backups and logs. This information can’t be recovered once it has been permanently deleted.<br/>
3. If you cancel the Service before the end of your current paid up billing cycle, your cancellation will take effect immediately, and you will not be charged again. But there will not be any prorating of unused time in the last billing cycle.<br/>
4. The Company, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all content in your account. The Company reserves the right to refuse service to anyone for any reason at any time.<br/><br/>
<p><b>Modifications to the Service and Prices</b></p>
<md-divider style="padding-bottom: 10px;"></md-divider>
1. The Company reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, any part of the Service with or without notice.<br/>
2. Prices of all Services are subject to change upon 30 days’ notice from us. Such notice may be provided at any time by posting the changes to the Workpad site or the Service itself.<br/>
3. The Company shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.<br/><br/>
<p><b>Copyright and Content Ownership</b></p>
<md-divider style="padding-bottom: 10px;"></md-divider>
1. All content posted on the Service is must comply with international copyright law.<br/>
2. We claim no intellectual property rights over the material you provide to the Service. All materials uploaded remain yours.<br/>
3. The Company does not pre-screen content, but reserves the right (but not the obligation) in their sole discretion to refuse or remove any content that is available via the Service.<br/>
4. The look and feel of the Service is copyright© Workpad Pte Ltd. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML, CSS, JavaScript, or visual design elements without express written permission from the Company.<br/><br/>
<p><b>General Conditions</b></p>
<md-divider style="padding-bottom: 10px;"></md-divider>
1. Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.<br/>
2. Technical support is only provided via email and through the workpad service.<br/>
3. You understand that the Company uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.<br/>
4. You must not modify, adapt or hack the Service.<br/>
5. You must not modify another website so as to falsely imply that it is associated with the Service or the Company.<br/>
6. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by the Company.<br/>
7. We may, but have no obligation to, remove content and accounts that we determine in our sole discretion are unlawful or violates any party’s intellectual property or these Terms of Service.<br/>
8. Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Service customer, Company employee or officer will result in immediate account termination.<br/>
9. You understand that the technical processing and transmission of the Service, including your content, may be transferred unencrypted and involve
<span class="timeline-title" style="margin-Left: 20px;font-weight: 400;">
(a) transmissions over various networks<br/>
(b) changes to conform and adapt to technical requirements of connecting networks or devices.</span><br/>
10. We reserve the right to temporarily disable your account if your usage significantly exceeds the average usage of other Service customers. Of course, we’ll reach out to the account owner before taking any action except in rare cases where the level of use may negatively impact the performance of the Service for other customers.<br/>
11. The Company does not warrant that <br/>
<span class="timeline-title" style="margin-Left: 20px;font-weight: 400;">(i) the service will meet your specific requirements<br/>
(ii) the service will be uninterrupted, timely, secure, or error-free<br/>
(iii) the results that may be obtained from the use of the service will be accurate or reliable<br/>
(iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations<br/>
(v) any errors in the Service will be corrected.</span>
<br/>
12. You expressly understand and agree that the Company shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if the Company has been advised of the possibility of such damages), resulting from: <br/>
<span class="timeline-title" style="margin-Left: 20px;font-weight: 400;">(i) the use or the inability to use the service<br/>
(ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service
<br/>(iii) unauthorized access to or alteration of your transmissions or data<br/>
(iv) statements or conduct of any third party on the service<br/>
(v) or any other matter relating to the service.</span>
<br/>
13. The failure of the Company to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and the Company and govern your use of the Service, superceding any prior agreements between you and the Company (including, but not limited to, any prior versions of the Terms of Service).<br/>
14. Questions about the Terms of Service should be sent to 
<a style="color: #285ebb;" href= "mailto:techsupport@workpadepte.com"><b>techsupport@workpadepte.com</b></a>


<br/><br/>Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.



	
    </div>

  </md-dialog-content>

  <div class="md-actions full-width" layout="row">
    <md-button ng-click="cancel()">Ok
    </md-button>
  </div>

</md-dialog>