<md-dialog class="register-pop-up" aria-label="Create Folder">
 <md-toolbar>
<div layout="row" class="md-toolbar-tools">
          <h2 class="md-title">Create Folder</h2>
          <span flex></span>
           <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
            </div>
            </md-toolbar>

  <form name="form.createFolder" class="full-height" novalidate>
    <div class="full-height" layout="column" layout-align="space-between center">

      <md-dialog-content class="full-width">
        

        <div>
          <md-input-container md-no-float>
            <input auto-input-focus type="text"
           		name="folderName"
                placeholder="Folder Name"
                required
                ng-model="formModel.folderName" 
                ng-maxlength="50"
                ng-pattern="/^[ A-Za-z0-9_\-\&\'\().]*$/"
                ng-trim>
              <div ng-messages="form.createFolder.folderName.$error">
              	<div ng-message="maxlength" class="ng-message">Please limit the Folder name to 50 characters.</div>
              	<div ng-message="pattern" class="ng-message">Only letters, numbers, spaces and special characters _,-,&,',(,),.  are allowed in the
                	Folder name.
              	</div>
              </div>
          </md-input-container>

       <!--    <md-input-container flex>
            <label>Description</label>
            <textarea name="orgDesc" ng-model="formModel.create_org.desc"
                      columns="1" md-maxlength="256" required ></textarea>
            <div ng-messages="form.create_org.orgDesc.$error">
              <div ng-message="md-maxlength" class="ng-message">Please limit the Organisation description to 256 characters.</div>
            </div>
          </md-input-container>
 -->
        </div>


      </md-dialog-content>

      <div class="md-actions full-width" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
          Cancel
        </md-button>
        <md-button type="submit"
                   ng-disabled="!form.createFolder.$valid"
                   ng-click="submit(formModel.createFolder)" class="md-primary"
          >Create
        </md-button>
      </div>

    </div>


  </form>
</md-dialog>