<view type="toolbarView" title="'Group Members'">

  <toolbar app-toolbar title="data.group.groupName" sub-title="'Members'">
    <toolbar-title></toolbar-title>
    <toolbar-options>
      <md-progress-linear ng-show="toolbarLoader.async_active"
                          md-mode="indeterminate"
                          class="toolbar-loading-bar md-hue-3"></md-progress-linear>

    </toolbar-options>
  </toolbar>

  <layout type="linearLayout" orientation="vertical"
          layout-height="match_parent">
    <row scroll layout-height="fill_remaining" layout-gravity="free"
         ng-class="APP_DATA_CSS[_state]">

      <div class="list">

        <div class="item item-avatar-left"
             ng-repeat="user in data.groupMembers"
             ng-click="showGroupMemberOptions(user, $event)">
          <img ng-src="{{user._img_icon}}"
               on-error-src="assets/images/profile-image-placeholder.png"
               class="push-right img fit round item-image with-padding">
               
          <h2 class="txt txt-large txt-line-pri push-top text-wrap">
          		{{user.userFirstName}} {{user.userLastName}}
          </h2>
            
          <div layout="row" class="push-top pt-sm">
              <p class="txt txt-line-sec text-ellipsis">
                <span class="label" ng-show="user.id == data.group.adminId">Owner</span>
            	<span class="label" ng-show="user.id != data.group.adminId">Member</span>
              </p>
          </div>

          <!--<p class="txt txt-line-sec">{{user.userEmail}}</p>-->
        </div>

        <div ng-show="!ui.refreshing && ui.isNextPageAvailable"
             layout="row" layout-align="center center"
             class="item">
          <md-button ng-click="loadNextPage()"
                     ng-disabled="ui.loadingNext"
                     class="full-width txt-ignore-case"
                     aria-label="Load next page">
            <span ng-if="!ui.loadingNext">Load more...</span>
            <span ng-if="ui.loadingNext">Loading ...</span>
          </md-button>
        </div>

      </div>

    </row>
  </layout>

</view>