<md-dialog class="register-pop-up" aria-label="Direct Message"
   layout="column" layout-align="space-between center">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2 ng-show="!isPingView">View Ping</h2>
         <md-button class="md-icon-button" ng-click="toggleList()">
            <md-icon ng-show="isPingView" md-font-icon="icon icon-arrow-back toolbar-icon" aria-label="Close dialog"></md-icon>
         </md-button>
         <h2 ng-show="isPingView" ng-bind="config.title || 'Ping'"></h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-icon="icon icon-close"
               aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
      <md-progress-linear ng-show="FLAG.loadMessages_inProgress && isPingView"
         md-mode="indeterminate"
         class="toolbar-loading-bar"></md-progress-linear>
   </md-toolbar>
   <md-dialog-content class="full-width" >
      <div ng-show="isPingView"  class="list">
         <div class="item bordered" ng-repeat="msg in topicMessagesList">
            <div layout="row">
               <h3
                  ng-bind="msg.fromUser.userFirstName+' '+msg.fromUser.userLastName"
                  class="txt-bold text-ellipsis padding-right">
               </h3>
               <span flex></span>
               <small ng-bind="displayDate(msg.createTime)"></small>
            </div>
            <p
               ng-bind="msg.body"
               style="line-height: 21px;"
               class="pre-formatted"></p>
         </div>
      </div>
      <div ng-show="!isPingView">
         <div class="list">
            <div class="item bordered ping-odd-clr" ng-repeat="topic in messages.topicList" flex="">
               <div><span><b ng-bind="topic.msgs[topic.msgs.length-1].fromUser.userFirstName+' '+topic.msgs[topic.msgs.length-1].fromUser.userLastName" ></b></span> <span flex=""></span> 
                  <small ng-bind="displayDate(topic.msgs[topic.msgs.length-1].createTime)" class="ng-binding" style="float: right;"></small>
               </div>
               <div style="padding: 5px 0px;">
                  <p ng-bind="topic.msgs[topic.msgs.length-1].body" 
                     style="width: 79%;display: inline-block;padding-top: 7px;/ margin-top: 9px; /float: left;margin-bottom: 0px;"></p>
                  <button
                     class="md-secondary md-button md-default-theme" 
                     ng-click="clickOnTopic(topic.topicId,topic.recipientId,true)" style="margin: 0px !important;float: right;padding: 0px;"><span><i class="icon-reply"></i>Reply</span></button>
               </div>
            </div>
         </div>
         <div ng-show="isNextPageAvailable" class="item" layout="row"
            layout-align="center center">
            <button ng-click="loadNext()" ng-disabled="loadingNext"
               class="button button-block button-small button-clear"
               aria-label="Load More">
            <span ng-show="!loadingNext">Load more</span> <span
               ng-show="loadingNext">Loading...</span>
            </button>
         </div>
      </div>
   </md-dialog-content>
   <div ng-show="isPingView" class="md-actions full-width" layout="column">
      <p ng-show="FLAG.send_failed"
         ng-bind="send_errMsg"
         class="full-width push-bottom"></p>
      <div layout="row" class="full-width">
         <div class="item-input" flex>
            <textarea ng-model="msgText" focus-me="triggerInputFocus"
               type="text" flex
               ng-disabled="FLAG.send_inProgress"
               ng-change="onMessageTextChange()"
               rows="2" style="resize: none; height: 45px; margin-top:10px; line-height: 20px;"></textarea>
         </div>
         <md-button type="submit"
            ng-click="sendMessage()"
            ng-disabled="!(msgText.length>0) || FLAG.send_inProgress"
            class="md-primary md-raised"
            aria-label="Add Skill">
            <div layout="row" layout-align="center center">
               <span ng-bind="sendButtonText"
                  ng-hide="send_inProgress"
                  ng-disabled="send_inProgress"></span>
               <md-progress-circular ng-show="send_inProgress"
                  class=" h-center md-accent"
                  md-mode="indeterminate"
                  md-diameter="20"></md-progress-circular>
            </div>
         </md-button>
      </div>
   </div>
   <div ng-show="!isPingView" class="md-actions full-width" layout="column">
      <div layout="row" class="full-width">
         <span flex></span>
         <md-button ng-click="cancel()">
            Cancel
         </md-button>
      </div>
   </div>
</md-dialog>
{{addScrollToPingList();}}