<div class="popup">
  <div class="popup-body">
    <div class="popup-title">
      <span class="popup-title-text">Custom Dialog</span>
    </div>
    <div class="popup-content">
      <div class="dialog-content">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at aut autem est nihil nulla obcaecati quisquam
        sit ullam veritatis!</span>
      </div>
    </div>
  </div>
  <div class="popup-buttons clearfix">

    <div
      ng-click="customAction()"
      class="button button-default">Custom action
    </div>

    <div
      ng-click="customAction2()"
      class="button button-default">Custom action 2
    </div>
  </div>
</div>
