<md-dialog class="" aria-label="Create Group">
  <md-toolbar class="toolbar-clear">
    <div class="md-toolbar-tools">
      <h2>{{post.title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>

    <div class="toolbar-content">
    </div>

  </md-toolbar>

  <md-dialog-content>
    <p>{{post.notificationDescription}}</p>
  </md-dialog-content>

  <div class="md-actions full-width" layout="row">
    <span flex></span>
    <md-button type="submit"
               ng-click="toJobDashboard()" class="md-primary"
      >Job Dashboard
    </md-button>
    <md-button
               ng-click="close()" class="md-primary"
      >Ok
    </md-button>
  </div>

</md-dialog>