<md-dialog class="register-pop-up " aria-label="Job Members Invitees Status">
   <md-toolbar class="toolbar-custom">
      <div class="md-toolbar-tools">
         <div>
            <h2 ng-bind="role+' invitees Status' "></h2>
         </div>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
      <div class="toolbar-content">
      </div>
   </md-toolbar>
   <md-dialog-content class="full-width" layout="column">
      <div class="list">
         <div ng-repeat="users in JobInviteesSelected"  class="item item-line-single " flex>
            <div>
               <h2 class="txt txt-line-pri text-wrap" ng-bind="users.user.userFirstName+' '+users.user.userLastName"></h2>
            </div>
            <div>
               <small><span class="label no-push-left" ng-bind="users.status | invitationStatus"></span>
               </small>
               <span class="icon-label" ng-show="users.organization != null">
                  <md-icon md-font-icon="icon icon-domain" style="margin-right: 3px"></md-icon>
                  <span class="text-ellipsis" ng-bind="users.organization.orgName"></span>
               </span>
               <span class="icon-label" ng-show="users.group != null">
                  <md-icon  md-font-icon="icon icon-group-work" style="margin-right: 3px"></md-icon>
                  <span class="text-ellipsis" ng-bind="users.group.groupName"></span> 
               </span>
               <p class="invite-sts-date color-light-2 text-right push-top" ng-bind="(users.status == -2) ? MU.getDisplayDateTime(users.createTime): MU.getDisplayDateTime(users.updateTime)"></p>
            </div>
         </div>
      </div>
      	<div ng-show="isNextPageAvailable" class="item" layout="row" layout-align="center center">
    	<button ng-click="loadNext()" ng-disabled="loadingNext" class="button button-block button-small button-clear"
            aria-label="Load More">
      <span ng-show="!loadingNext">{{LANG.MESSAGES.LOAD_MORE}}</span>
      <span ng-show="loadingNext">{{LANG.MESSAGES.LOADING}}</span>
    </button>
  </div>
   </md-dialog-content>
   <div class="md-actions full-width" layout="column">
      <div layout="row" class="full-width">
         <span flex></span>
         <md-button ng-click="cancel()">
            Cancel
         </md-button>
      </div>
   </div>
</md-dialog>
