* { box-sizing: border-box; }
body { font-family: Helvetica; background: #eee; -webkit-font-smoothing: antialiased; }
hgroup { text-align: center; margin-top: 4em; }
h1, h3 { font-weight: 300; }
h1 { color: #636363; }
h3 { color: #285ebb; font-weight: 400; }
form { width: 380px; margin: 4em auto; padding: 3em 2em 2em 2em; background: #fafafa; border: 1px solid #ebebeb; box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px; }
.group { position: relative; margin-bottom: 45px; }
input { font-size: 18px; padding: 10px 10px 10px 5px; -webkit-appearance: none; display: block; background: #fafafa; color: #636363; width: 100%; border: none; border-radius: 0; border-bottom: 1px solid #757575; }
input:focus { outline: none; }
/* Label */

label { color: #999; font-size: 18px; font-weight: normal; position: absolute; pointer-events: none; left: 5px; top: 10px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
/* active */

input:focus ~ label, input.used ~ label { top: -20px; -webkit-transform: scale(.75); transform: scale(.75); left: -2px; /* font-size: 14px; */
color: #4a89dc; }
/* Underline */

.bar { position: relative; display: block; width: 100%; }
.bar:before, .bar:after { content: ''; height: 2px; width: 0; bottom: 1px; position: absolute; background: #4a89dc; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.bar:before { left: 50%; }
.bar:after { right: 50%; }
/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }
/* Highlight */

.highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; opacity: 0.5; }
/* active */

input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }


/* Animations */

@-webkit-keyframes inputHighlighter {  from {
background: #4a89dc;
}
to { width: 0; background: transparent; }
}
 @keyframes inputHighlighter {  from {
background: #4a89dc;
}
to { width: 0; background: transparent; }
}
/* Button */

.button { position: relative; display: inline-block; padding: 12px 24px; margin:20px 0 1em 0; width: 100%; vertical-align: middle; color: #fff; font-size: 16px; line-height: 20px; -webkit-font-smoothing: antialiased; text-align: center; letter-spacing: 1px; background: transparent; border: 0; border-bottom: 2px solid #3160B6; cursor: pointer; -webkit-transition: all 0.15s ease; transition: all 0.15s ease; }
.button:focus { outline: 0; }
/* Button modifiers */

.buttonBlue { background: #396cc3; text-shadow: 1px 1px 0 rgba(39, 110, 204, .5); }
.buttonBlue:hover { background: #285ebb; }
/* Ripples container */

.ripples { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: transparent; }
/* Ripples circle */

.ripplesCircle { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 0; width: 0; height: 0; border-radius: 50%; background: rgba(255, 255, 255, 0.25); }
.ripples.is-active .ripplesCircle { -webkit-animation: ripples .4s ease-in; animation: ripples .4s ease-in; }


/* Ripples animation */

@-webkit-keyframes ripples {  0% {
opacity: 0;
}
 25% {
opacity: 1;
}
 100% {
 width: 200%;
 padding-bottom: 200%;
 opacity: 0;
}
}
 @keyframes ripples {  0% {
opacity: 0;
}
 25% {
opacity: 1;
}
 100% {
 width: 200%;
 padding-bottom: 200%;
 opacity: 0;
}
}
footer { text-align: center; }
footer p { color: #888; font-size: 13px; letter-spacing: .4px; }
footer a { color: #4a89dc; text-decoration: none; -webkit-transition: all .2s ease; transition: all .2s ease; }
footer a:hover { color: #666; text-decoration: underline; }
footer img { width: 80px; -webkit-transition: all .2s ease; transition: all .2s ease; }
footer img:hover { opacity: .83; }
footer img:focus, footer a:focus { outline: none; }
.forgot-pass { font-size: 13px; float: right; text-align: right; margin: 0px; text-decoration: none; }
.forgot-pass a { text-decoration: none; color: #4a89dc; padding: 0 0 15px 0px; }


.form-box{
  background: #fff;
  margin: 30px auto;
  max-width: 500px;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);
}
form#login-form {
  overflow: hidden;
  position: relative;
  padding: 40px;
}
.head {
  color: #fff;
  font-size: 34px;
  font-weight: normal;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  background: #6498fe;
}
.form-group {
	
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.form-group .label-control {

  color: #888;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  pointer-events: none;
  height: 100%; 
}
.form-group .label-control::before,
.form-group .label-control::after{
	
  content: "";
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form-group .label-control::before{
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

.form-group .label-control::after {
		
  border-bottom: 2px solid #285ebb;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.form-control {
  border: none;
  border-radius: 0;
  margin-top: 20px;
  padding: 12px 0;
  width: 100%;
  font-size: 14px;
  background-color:#fafafa;
}
.form-control:focus {
		border: none;
  outline: none;
  box-shadow: none;
}

.form-group .label-control .label-text{
   -webkit-transform: translate3d(0, 30px, 0) scale(1);
    -moz-transform: translate3d(0, 30px, 0) scale(1);
    transform: translate3d(0, 30px, 0) scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
}
.active .label-control::after{
   -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.active .label-control .label-text {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    color: #285ebb !important;
}

.input-field label:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}


input.btn[type="submit"] {
  background: #6498fe;
  border:none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.16), 0 1px 2px 0px rgba(0,0,0,0.23);
}
input.btn[type="submit"]:hover {
  background: #4b81eb;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.16), 0 2px 4px 0px rgba(0,0,0,0.23);
}
.text-p{
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.text-p a{
  color: #175690;
}
@media (max-width: 480px){
  form#login-form {
    width: 90%;
    margin: 30px auto;
  }
}


