<md-dialog class="register-pop-up" aria-label="Add New Location"
           layout="column" layout-align="space-between center">
  <md-toolbar >
    <div class="md-toolbar-tools">
      <h2 class="txt-capitalize text-ellipsis">
        <span>Remove Locations</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="icon icon-close"
                 aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-toolbar class="toolbar-clear full-width toolbar-tall">
    <div class="md-toolbar-tools">
      <h2 class="txt-capitalize text-ellipsis">
        <small flex ng-bind="selectAllText"></small>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="toggleSelectAll()">
        <md-icon md-font-icon="icon"
                 ng-class="{'icon-check-box':isAllSelected, 'icon-check-box-blank':!isAllSelected}"
                 aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="full-width"  layout="column">
    <form name="form.locationList" flex>
      <div class="list">
        <div
          ng-repeat="address in locations"
          class="item item-line-single item-icon-left item-icon-right"
          ng-class="{'bg-light-primary':address.isSelected}"
          ng-click="selectLocationForDeletion(address)"
          flex>
          <i class="icon icon-pin icon-cling-top"></i>

          <h2 class="txt txt-line-pri text-wrap">{{address.name}}</h2>

          <p class="txt txt-line-pri text-wrap color-light">
            <span>{{address.countryName}}</span></p>

          <i class="icon icon-cling-top"
             ng-class="address.isSelected ? 'icon-check-box' : 'icon-check-box-blank'"></i>
        </div>
      </div>
    </form>

  </md-dialog-content>

  <div class="md-actions full-width" layout="row">
    <md-button ng-click="cancel()"
               aria-label="Cancel">
      <span ng-bind="LANG.BUTTON.CANCEL"></span>
    </md-button>
    <md-button ng-click="updateUserLocation()"
               ng-disabled="selectedItemsCount==0"
               aria-label="Update user locations">
      <span ng-bind="LANG.BUTTON.DELETE"></span>
    </md-button>
  </div>
</md-dialog>