<md-dialog aria-label="New Template">

  <md-toolbar class="">
    <div class="md-toolbar-tools">
      <h2 flex>New Template</h2>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <form name="form.templateCreate">
      <md-input-container>
        <label>Template name</label>
        <input type="text"
          ng-model="formModel.templateCreate.name"/>
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions">
    <span flex></span>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="submit()">
      Create
    </md-button>
  </div>
</md-dialog>