<view type="toolbarView" screen-type="device" title="'Change Password'">

  <toolbar app-toolbar title="'Change Password'">
    <toolbar-options>
      <div class="menu-option-group">
      </div>
    </toolbar-options>
  </toolbar>
  <layout type="linearLayout" orientation="vertical" layout-height="match_parent">
    <row id="content" scroll layout-height="fill_remaining" layout-gravity="center" class="">

      <div class="center-content full-width">
        <form>
          <div class="list padding">

            <label for="old_password" class="item item-input item-stacked-label text-left">
              <span class="input-label">Old Password</span>
              <input type="password" id="old_password"/>
            </label>

            <label for="new_password" class="item item-input item-stacked-label text-left">
              <span class="input-label">New Password</span>
              <input type="password" id="new_password"/>
            </label>

            <label for="re_new_password" class="item item-input item-stacked-label text-left">
              <span class="input-label">Confirm new password</span>
              <input type="password" id="re_new_password"/>
            </label>

            <div class="padding clearfix pull-right">
              <div class="button" ng-click>Update</div>
            </div>

            <input type="submit" class="input-hidden"/>


          </div>
        </form>
      </div>

    </row>
  </layout>
</view>