
<md-dialog class="register-pop-up" >

<md-toolbar>
<div layout="row" class="md-toolbar-tools">
          <h2 class="md-title">Change Password</h2>
          <span flex></span>
           <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
            </div>
            </md-toolbar>



  <!-- <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="txt-capitalize text-ellipsis">
        <span>Change Password</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="icon icon-close" ng-click="closeDialog()"></md-icon>
      </md-button>
      </div>
      <div class="toolbar-content">
        </div>
    
  </md-toolbar> -->
  
  
        <form name="form.changePasswordForm" ng-submit="form.changePassword.action.onSubmitButtonClick()" ng-model="userPasswordFormModel" class="full-height" novalidate>
          <div class="full-height" layout="column" layout-align="space-between center">
                   <md-dialog-content class="full-width">
                <div>
                    <md-input-container md-no-float>
                    
              <span class="input-label">Old Password</span>

              <input
                name="oldPassword"
                id="old_password"
                type="password"
                required
                ng-maxlength="40"
                ng-model="form.changePassword.fields.oldPassword" id="user_firstName" 
                ng-disabled="submitChangePassword_inProgress"  ng-trim>

              <div ng-messages="form.changePasswordForm.oldPassword.$error" class="hide-if-clean">
                <div ng-message="required" class="ng-message">This is required.</div>
                <div ng-message="maxlength" class="ng-message">Please limit the passwords to 40 characters.</div>
              </div>
               </md-input-container>
                
            
             <md-input-container md-no-float>
              <span class="input-label">New Password</span>
              <input name="newPassword"
                     id="new_password"
                     type="password"
                     ng-model="form.changePassword.fields.newPassword"
                     required
                     ng-maxlength="40"
                     ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#!@$%^&*()+-]).{8,}$/" 
                     ng-disabled="submitChangePassword_inProgress"  ng-trim>

              <div ng-messages="form.changePasswordForm.newPassword.$error"  class="hide-if-clean">
                <div ng-message="required" class="ng-message">This is required.</div>
                <div ng-message="pattern" class="ng-message">The password should be alphanumeric and should contain at
                  least 1 upper case, lower case and spl character and must be at least 8 characters.
                </div>
                <div ng-message="maxlength" class="ng-message">Please limit the passwords to 40 characters.</div>
              </div>

             </md-input-container>
            
            
            <md-input-container md-no-float>
              <span class="input-label">Confirm new password</span>
              <input id="new_password_verify"
                     name="confirmPassword"
                     type="password"
                     required
                     ng-maxlength="40"
                     equals="{{form.changePassword.fields.newPassword}}"
                     ng-model="form.changePassword.fields.confirmPassword" 
                     ng-disabled="submitChangePassword_inProgress" ng-trim>

              <div ng-messages="form.changePasswordForm.confirmPassword.$error"  class="hide-if-clean">
                <div ng-message="required" class="ng-message">This is required.</div>
                <div ng-message="equals" class="ng-message">Passwords do not match.</div>
                <div ng-message="maxlength" class="ng-message">Please limit the passwords to 40 characters.</div>
              </div>
            </md-input-container>
             </div>
              </md-dialog-content>

              <div class="md-actions full-width" layout="row">
                <span flex></span>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button type="submit" ng-disabled="submitChangePassword_inProgress || form.changePasswordForm.$invalid" class="md-primary">Update
                </md-button>
            </div>
        
          </div>
        </form>
        
      </md-dialog>  
      