<view type="toolbarView" screen-type="device" title="'Change Password'">

  <toolbar app-toolbar title="'Change Password'">
    <toolbar-options>
      <div class="menu-option-group">
      </div>
    </toolbar-options>
  </toolbar>
  <layout type="linearLayout" orientation="vertical" layout-height="match_parent">
    <row id="content" scroll layout-height="fill_remaining" layout-gravity="center" class="">

      <div class="center-content full-width">
        <form name="form.changePasswordForm"
              ng-submit="form.changePassword.action.onSubmitButtonClick()"
              ng-model="userPasswordFormModel">
          <div class="list padding">

            <label for="old_password" class="item item-input item-stacked-label text-left">
              <span class="input-label">Old Password</span>

              <input
                name="oldPassword"
                id="old_password"
                type="password"
                required
                ng-maxlength="40"
                ng-disabled="submitChangePassword_inProgress"
                ng-model="form.changePassword.fields.oldPassword" id="user_firstName">

              <div ng-messages="form.changePasswordForm.oldPassword.$error"
                   class="hide-if-clean">
                <div ng-message="required" class="ng-message">This is required.</div>
                <div ng-message="maxlength" class="ng-message">Please limit the passwords to 40 characters.</div>
              </div>
            </label>

            <label for="new_password" class="item item-input item-stacked-label text-left">
              <span class="input-label">New Password</span>
              <input name="newPassword"
                     id="new_password"
                     type="password"
                     ng-model="form.changePassword.fields.newPassword"
                     required
                     ng-disabled="submitChangePassword_inProgress"
                     ng-maxlength="40"
                     ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#!@$%^&*()+-]).{8,}$/">

              <div ng-messages="form.changePasswordForm.newPassword.$error"
                   class="hide-if-clean">
                <div ng-message="required" class="ng-message">This is required.</div>
                <div ng-message="pattern" class="ng-message">The password should be alphanumeric and should contain at
                  least 1 upper case, lower case and spl character and must be at least 8 characters.
                </div>
                <div ng-message="maxlength" class="ng-message">Please limit the passwords to 40 characters.</div>
              </div>

            </label>

            <label for="new_password_verify" class="item item-input item-stacked-label text-left">
              <span class="input-label">Confirm new password</span>
              <input id="new_password_verify"
                     name="confirmPassword"
                     type="password"
                     required
                     ng-maxlength="40"
                     ng-disabled="submitChangePassword_inProgress"
                     equals="{{form.changePassword.fields.newPassword}}"
                     ng-model="form.changePassword.fields.confirmPassword"/>

              <div ng-messages="form.changePasswordForm.confirmPassword.$error"
                   class="hide-if-clean">
                <div ng-message="required" class="ng-message">This is required.</div>
                <div ng-message="equals" class="ng-message">Passwords do not match.</div>
                <div ng-message="maxlength" class="ng-message">Please limit the passwords to 40 characters.</div>
              </div>
            </label>

            <div class="padding clearfix pull-right">
              <input ng-disabled="submitChangePassword_inProgress || form.changePasswordForm.$invalid"
                     value="Update"
                     type="submit"
                     class="button"/>
            </div>

            <input type="submit" class="input-hidden"/>


          </div>
        </form>
      </div>

    </row>
  </layout>
</view>