<md-dialog class="register-pop-up">
 
 <md-toolbar class="toolbar-custom">
      <div class="md-toolbar-tools" >
        Forgot Password
        <span flex></span>
        <a href="javascript:void(0)"><md-icon ><i class="fa fa-times fa-1x" ng-click="closeDialog()" aria-hidden="true"></md-icon ></i></a>
      </div>
        
    </md-toolbar>	

  <md-dialog-content class="full-width" >
   <form ng-submit="onSubmitRecovery()"
              name="form.userRecoverPassword"
              novalidate>
          <div class="list padding">

            <div class="item">
              <img class="img v-center" src="assets/images/logo.png" alt="Workwise"
                   style="width:100px"/>
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Please enter your email id</span>
              <input  auto-input-focus name="userEmail"
                     id="userEmail"
                     rh-form-email
                     type="email" ng-disabled="isSubmitInProgress"
                     ng-model="userInfo.email" placeholder="john@email.id"
                     ng-minlength="7"
                     ng-maxlength="70"
                     required/>
              <div ng-messages="form.userRecoverPassword.userEmail.$error">
                <div ng-message="email" class="ng-message">Please provide a valid email</div>
                <div ng-message="minlength" class="ng-message">Email must be longer than 7 characters</div>
                <div ng-message="maxlength" class="ng-message">Email cannot be longer than 70 characters</div>
              </div>
            </label>

            <div class="padding clearfix pull-right">
              <div ng-click="onSubmitRecovery()"
                   type="submit"
                   ng-disabled="isSubmitInProgress || !form.userRecoverPassword.$valid"
                   class="button" ng-click>Submit
              </div>
            </div>

            <input type="submit" class="input-hidden"/>


          </div>
        </form>
  </md-dialog-content>