<!--<md-dialog class="dialog-full-screen" aria-label="Job Invite">-->

<!--<md-toolbar class="">-->
<!--<div class="md-toolbar-tools">-->
<!--<h2 flex>Invite to Job</h2>-->
<!--<md-button class="md-icon-button" ng-click="cancel()"-->
<!--aria-label="Cancel Form">-->
<!--<md-icon md-font-icon="icon icon-close"></md-icon>-->
<!--</md-button>-->
<!--</div>-->

<!--</md-toolbar>-->

<!--<md-dialog-content class="full-width dialog-custom">-->

<!--<form name="form.user_invite" class="full-height" novalidate>-->
<!--<div class="" layout="column" layout-align="space-between center">-->

<!--<div class="full-width" layout="row">-->
<!--<md-list class="full-width">-->

<!--<md-list-item>-->
<!--<p class="color-light">Send invite to </p>-->
<!--</md-list-item>-->

<!--<md-list-item class="md-3-line">-->
<!--<img ng-src="{{inviteBundle.userImg}}"-->
<!--on-error-src="assets/images/profile-image-placeholder.png"-->
<!--class="md-avatar avatar-medium" alt=""/>-->

<!--<div class="md-list-item-text">-->
<!--<h2 class="md-title no-push-bottom">{{inviteBundle.invitee.userFirstName}}-->
<!--{{inviteBundle.invitee.userLastName}}</h2>-->

<!--<p class="text-ellipsis padding-bottom">-->
<!--{{inviteBundle.invitee.userEmail}}-->
<!--</p>-->
<!--</div>-->

<!--</md-list-item>-->

<!--&lt;!&ndash; Job Selection &ndash;&gt;-->
<!--<md-list-item ng-show="inviteBundle.job" class="">-->
<!--<div class="md-list-item-text">-->
<!--<h4 class="color-light">-->
<!--<small class="push-right"><i>To Join:</i></small>-->
<!--<span class="txt-capitalize txt-bold">{{inviteBundle.job.title}}</span></h4>-->
<!--</div>-->
<!--</md-list-item>-->


<!--</md-list>-->
<!--</div>-->

<!--<div ng-hide="isActionsEnabled"-->
<!--class="dialog-content-blocker"></div>-->
<!--</div>-->


<!--</form>-->
<!--</md-dialog-content>-->

<!--<div class="md-actions full-width" layout="row">-->
<!--<span flex></span>-->
<!--<md-button-->
<!--ng-disabled="!isActionsEnabled"-->
<!--ng-click="cancel()">-->
<!--Cancel-->
<!--</md-button>-->
<!--<md-button type="submit"-->
<!--ng-disabled="!form.user_invite.$valid || !isActionsEnabled"-->
<!--ng-click="submit()" class="md-primary"-->
<!--&gt;-->
<!--Send-->
<!--<md-icon md-font-icon="icon icon-send"></md-icon>-->
<!--</md-button>-->
<!--</div>-->
<!--</md-dialog>-->


<md-dialog class="dialog-full-screen" aria-label="invite user"
           layout="column" layout-align="space-between center">

  <md-toolbar class="toolbar-clear full-width">
    <div class="md-toolbar-tools">
      <h2 class="txt-capitalize text-ellipsis">
        <span>{{LANG.JOB.LABEL.INVITE_CONTRIBUTOR_TITLE}}</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="icon icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="full-width no-padding"
                     flex layout="column" layout-align="space-between center">

    <div class="" layout="column" layout-align="space-between center">

      <div class="full-width" layout="row">
        <md-list class="full-width">

          <md-list-item>
            <p>
              Invitation to <b>{{inviteBundle.invitee.userFirstName}} {{inviteBundle.invitee.userLastName}}</b> for
              contributor role
              in the job <b>{{inviteBundle.job.title}}</b>.
            </p>
          </md-list-item>

        </md-list>
      </div>

      <div ng-hide="isActionsEnabled"
           class="dialog-content-blocker"></div>
    </div>

    <div flex></div>

    <form name="form.user_invite" class="full-width" novalidate>
      <div class="list">
        <div class="item item-input">
          <span class="input-label">Reason</span>
          <textarea ng-model="formModel.inviteMsg"
                    name="invite_msg"
                    id="inviteMsgTextbox" rows="5"
                    maxlength="600"></textarea>
          <div flex layout="row">
            <span flex></span>
            <small ng-bind="formModel.inviteMsg.length+'/600'"
                   class="color-light-2"></small>
          </div>
        </div>
      </div>
    </form>
  </md-dialog-content>

  <div class="md-actions full-width" layout="row">
    <span flex></span>
    <md-button
      ng-disabled="!isActionsEnabled"
      ng-click="cancel()">
      Cancel
    </md-button>
    <md-button type="submit"
               ng-click="submit()" class="md-primary"
    >{{LANG.BUTTON.SEND}}
    </md-button>
  </div>
</md-dialog>